<!DOCTYPE html>
<html>
  <head>
    <title>Realtube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="//www.youtube.com/iframe_api"></script>
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
